{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="div_top">
        <p>전체 가동현황</p>
    </div>
    <div class="div_dashboard">
        <div class="left-panel">
            <div class="div_left01">
                <div class="img-box"><img src="{{ url_for('static', filename='/img/icon1.png') }}" alt="Icon 1"></div>
                <div class="img-box"><img src="{{ url_for('static', filename='/img/icon2.png') }}" alt="Icon 2"></div>
                <div class="img-box"><img src="{{ url_for('static', filename='/img/icon3.png') }}" alt="Icon 3"></div>
            </div>
            <div class="div_left02">
                <div class="img-box"><img src="{{ url_for('static', filename='/img/icon1.png') }}" alt="Icon 4"></div>
                <div class="img-box"><img src="{{ url_for('static', filename='/img/icon2.png') }}" alt="Icon 5"></div>
                <div class="img-box"><img src="{{ url_for('static', filename='/img/icon3.png') }}" alt="Icon 6"></div>
            </div>
            <div class="div_left03">
                <div class="img-box"><img src="{{ url_for('static', filename='/img/icon1.png') }}" alt="Icon 7"></div>
                <div class="img-box"><img src="{{ url_for('static', filename='/img/icon2.png') }}" alt="Icon 8"></div>
                <div class="img-box"><img src="{{ url_for('static', filename='/img/icon3.png') }}" alt="Icon 9"></div>
            </div>

        </div>
        <div class="right-panel">
            <div class="graph-box">
                <p>목표 생산량</p>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 64.4%;"></div>
                </div>
                <p>일일 생산량</p>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 55.2%;"></div>
                </div>
                <p>불량률</p>
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 0.54%;"></div>
                </div>
            </div>
            <div class="time-box">
                <p>일일 소요시간</p>
                <div class="progress-bar-time">
                    <div class="progress-bar-time-fill" style="width: 54.67%;"></div>
                </div>
                <div class="time-labels">
                    <span>13h 12m</span>
                    <span>24h</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}