{% extends "layout.html" %}
{% block content %}
<div class="site-header-logo">
  <h1 class="text-center">
    CodeWithPrince
  </h1>
</div>

<div class="row p-4">
  <div class="card m-auto" style="width: 90%;">
      <div class="card-body">
        <div id="chart1"></div>
        <p>
          1번 차트 입니다
        </p>
      </div>
  </div>

  <!-- <div class="card m-auto" style="width: 90%;" data-aos="slide-up">
    <div class="card-body">
      <div id="chart2"></div>
      <p>
        2번 차트 입니다
      </p>
    </div> -->
</div>
</div>

<!-- plotly -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  var $j = jQuery.noConflict(); // $j로 jQuery 객체 저장
  console.log("jQuery type:", typeof jQuery);  // jQuery가 올바르게 로드되었는지 확인

  var graph1 = {{ graph1JSON | safe }};
  Plotly.newPlot("chart1", graph1, {});  // 차트 생성

  function updateChart() {
    $j.getJSON('/update_chart', function(data) {
      console.log("Data received:", data);  // 콘솔 로그 추가
      console.log(data.msg);
      
      var new_graph = JSON.parse(data.new_graphJSON);  // JSON 문자열을 객체로 변환
      Plotly.react("chart1", new_graph.data, new_graph.layout);  // 차트 업데이트
    }).fail(function(jqXHR, textStatus, errorThrown) {
      console.error("AJAX request failed:", textStatus, errorThrown);  // 에러 로그 추가
    });
  }

  setInterval(updateChart, 1000);
</script>
{% endblock %}
