{% extends "layout.html" %}
{% block content %}
<div class="site-header-logo">
  <h1 class="text-center">
    CodeWithPrince
  </h1>
</div>

<div class="row p-4">
  <div class="card m-auto" style="width: 90%;">
    <div class="card-body">
      <div id="chart1"></div>
      <p>
        1번 차트 입니다
      </p>
      <script type="application/json" id="graph1-data">{{ graph1JSON | safe }}</script>
    </div>
  </div>

  <!-- <div class="card m-auto" style="width: 90%;" data-aos="slide-up">
    <div class="card-body">
      <div id="chart2"></div>
      <p>
        2번 차트 입니다
      </p>
    </div> -->
</div>
</div>

<!-- plotly -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
