<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Mate Web</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/job_choice.css')}}">
</head>
<body>
    <div id="index_main_box">
        <div id="index_logo">
            <img src="../static/img/cm_logo.png" alt="cm_logo">
        </div>

        <div id="login_box">
            <div class="icon_box" id="supervisor_icon">
                <img src="../static/img/supervisor.png" alt=supervisor">
                <p class="job_text">관리자용</p>
            </div>

            <div class="icon_box" id="employee_icon">
                <img src="../static/img/employee.png" alt="employee">
                <p class="job_text">작업자용</p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/job_choice.js') }}"></script>
</body>
</html>