<!-- nav 상단바 내용 시작 -->
<nav class="navbar">
    <div class="white_back">
      <div class="nav_logo">
        <a href="/">
          <img src="../static/img/cm_logo.png" alt="Logo">
        </a>
      </div>
      <div class="nav_profile">
        <img src="../static/img/profile.png" alt="profile">
      </div>
      <ul class="nav_menu">
        <li><a href="total">전체</a></li>
        <li><a href="dash">1호기</a></li>
        <li><a href="learning">재학습</a></li>
      </ul>
    </div>
  </nav>
  <!-- nav 상단바 내용 끝 -->