<!-- nav 상단바 내용 시작 -->
<nav class="navbar">
    <div class="white_back">
      <div class="nav_logo">
        <img src="../static/img/cm_logo.png" alt="Logo">
      </div>
      <div class="nav_profile">
        <img src="../static/img/profile.png" alt="profile">
      </div>
      <ul class="nav_menu">
        <li><a href="dash">Dash</a></li>
        <li><a href="factory1">1공장</a></li>
        <li><a href="factory2">2공장</a></li>
        <li><a href="factory3">3공장</a></li>
      </ul>
    </div>
  </nav>
  <!-- nav 상단바 내용 끝 -->